In [ ]:
import numpy as np

In [ ]:
#create array of zeros
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [ ]:
a = np.random.randint(2,10, (3,4))
b = np.random.randint(2,10 ,(4,3))
print(a)
print(b)

[[4 5 9 3]
 [3 5 4 4]
 [7 9 9 2]]
[[8 4 7]
 [9 6 2]
 [3 4 4]
 [9 9 2]]

In [ ]:
a.dot(b)

array([[131, 109,  80],
       [117,  94,  55],
       [182, 136, 107]])

In [ ]:
#finding the dot product of the two previous arrays
np.dot(a,b)

array([[131, 109,  80],
       [117,  94,  55],
       [182, 136, 107]])

In [ ]:
#loading and reading csv file using pandas and display the first 5 entries
import pandas as pd
data = pd.read_csv('/content/data.csv')
data.head()

   OBJECTID                        UNIT_NAME  ... SHAPE.AREA  SHAPE.LEN
0        21        Fort Stevenson State Park  ...   0.000284   0.135641
1        22           Beaver Lake State Park  ...   0.000129   0.080067
2        23  Fort Abraham Lincoln State Park  ...   0.000399   0.119868
3        24           Fort Ransom State Park  ...   0.000444   0.128733
4        25        Grahams Island State Park  ...   0.000469   0.125546

[5 rows x 6 columns]

In [ ]:
#describing the data
data.describe(include= 'all')

         OBJECTID                            UNIT_NAME  ... SHAPE.AREA  SHAPE.LEN
count   25.000000                                   25  ...  25.000000  25.000000
unique        NaN                                   25  ...        NaN        NaN
top           NaN  Fahlgren Park State Recreation Area  ...        NaN        NaN
freq          NaN                                    1  ...        NaN        NaN
mean    33.000000                                  NaN  ...   0.000352   0.109863
std      7.359801                                  NaN  ...   0.000617   0.089073
min     21.000000                                  NaN  ...   0.000005   0.009396
25%     27.000000                                  NaN  ...   0.000034   0.033885
50%     33.000000                                  NaN  ...   0.000256   0.087192
75%     39.000000                                  NaN  ...   0.000399   0.145220
max     45.000000                                  NaN  ...   0.003136   0.338800

[11 rows x 6 columns]

In [ ]:
#total number of missing values for each feature
data.isnull().sum()

OBJECTID       0
UNIT_NAME      0
DESCRIPTION    0
ACRES          0
SHAPE.AREA     0
SHAPE.LEN      0
dtype: int64

In [ ]:
#display unique values for 'description' feature
data.DESCRIPTION.unique()

array(['State Park', 'Interpretive Center', 'State Recreation Area',
       'State Natural Area', 'State Nature Preserve'], dtype=object)

In [36]:
data.groupby('DESCRIPTION').mean()

                        OBJECTID        ACRES  ...  SHAPE.LEN  new_feature
DESCRIPTION                                    ...
Interpretive Center    29.000000    14.710000  ...   0.016774     0.103643
State Natural Area     39.000000   219.615000  ...   0.077137     0.103643
State Nature Preserve  39.500000    84.095000  ...   0.037175     0.103643
State Park             28.538462  1168.668462  ...   0.150326     0.103643
State Recreation Area  38.285714   326.934286  ...   0.078135     0.103643

[5 rows x 5 columns]

In [22]:
#generate a sample of 10 rows
data.sample(10)

    OBJECTID                              UNIT_NAME  ... SHAPE.AREA  SHAPE.LEN
6         27              Lake Metigoshe State Park  ...   0.000751   0.212196
24        42    Pelican Point State Recreation Area  ...   0.000013   0.026357
3         24                 Fort Ransom State Park  ...   0.000444   0.128733
10        31             Little Missouri State Park  ...   0.003136   0.313756
12        35   Butte St. Paul State Recreation Area  ...   0.000025   0.022095
15        34              Lake Sakakawea State Park  ...   0.000357   0.191806
18        39        Gunlogson State Nature Preserve  ...   0.000048   0.040465
9         30      Fort Mandan State Recreation Area  ...   0.000005   0.009396
13        36  Crow Flies High State Recreation Area  ...   0.000120   0.050518
8         29    Lewis and Clark Interpretive Center  ...   0.000007   0.016774

[10 rows x 6 columns]

In [28]:
#adding a new feature to our random selection
new_feature = np.random.rand()
new_dataset=data.sample(10)
new_dataset['new_feature'] = new_feature
new_dataset

    OBJECTID                              UNIT_NAME  ... SHAPE.LEN  new_feature
14        33                Turtle River State Park  ...  0.145220     0.483523
22        44  Turtle Mountain State Recreation Area  ...  0.086487     0.483523
12        35   Butte St. Paul State Recreation Area  ...  0.022095     0.483523
21        43    Pembina Gorge State Recreation Area  ...  0.338800     0.483523
24        42    Pelican Point State Recreation Area  ...  0.026357     0.483523
3         24                 Fort Ransom State Park  ...  0.128733     0.483523
23        45                 Cross Ranch State Park  ...  0.180257     0.483523
8         29    Lewis and Clark Interpretive Center  ...  0.016774     0.483523
1         22                 Beaver Lake State Park  ...  0.080067     0.483523
18        39        Gunlogson State Nature Preserve  ...  0.040465     0.483523

[10 rows x 7 columns]

In [34]:
#replacing zero value of column "OBJECTID" with mean
objectid_mean=data['OBJECTID'].mean()
objectid_mean

33.0

In [37]:
data['OBJECTID'].replace(data['OBJECTID'][0],objectid_mean)

0     33
1     22
2     23
3     24
4     25
5     26
6     27
7     28
8     29
9     30
10    31
11    32
12    35
13    36
14    33
15    34
16    37
17    38
18    39
19    40
20    41
21    43
22    44
23    45
24    42
Name: OBJECTID, dtype: int64